*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-size: 1.6rem;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* Header */
header{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #dfdfdf;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 2;
}

.nav{
    width: 90%;
    height: 100%;
    margin: 4px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__right__item, .nav__right__item__anchor{
    display: grid;
    place-content: center;
    place-items: center;
}

.nav__right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__left{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
    gap: 22px;
}

.nav__left__item__messenger{
    position: relative;
}

.nav__left__item__messenger__number{
    position: absolute;
    top: -15px;
    left: 15px;
    background-color: #ed4956;
    width: 18px;
    min-height: 18px;
    color: white;
    display: grid;
    place-content: center;
    border-radius: 50%;
}

.nav__left__item__messenger__number--messages{
    font-size: 1.1rem;
}


.user-avatar-picture-profile{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}

main{
    margin-top: 69.5px;
    height: 1200px;
}

.histories__container{
    position: relative;
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
}

.no-display{
    display: none;
}

.histories{
    width: 97.2%;
    margin: 0 0px 9.5px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}

.historie{
    display: grid;
    min-width: 90px;
    height: 95px;
    place-items: center;
    margin: 0 -6px;
}

.historie__outline{
    border-radius: 50%;
    background: linear-gradient(to bottom left, #d02c85 0%, #faa358 100%);
    cursor: pointer;
}


.historie__user-profile-picture{
    width: 60.6px;
    height: 60.6px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin: 2px;
    border: 2.3px solid white;
}

.historie__user-profile-name{
    font-size: 1.2rem;
    max-width: 74px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
}

.histories__arrow{
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.histories__arrowIcon{
    border-radius: 60%;
    width: 26px;
    height: 30px;
    display: inline-block;
    background-image: url('https://www.instagram.com/static/bundles/es6/sprite_glyphs_42be7ea14768.png/42be7ea14768.png');
    background-position: -255px -113px;
    background-repeat: no-repeat;
}

.histories__arrowIcon__previus{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

#btnNextHistories{
    position: absolute;
    top: 26px;
    right: 3px;
}

#btnPreviusHistories{
    position: absolute;
    top: 26px;
    left: 3px;
}