*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-size: 1.6rem;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    pointer-events: none; /* Avoid dragging an img */
}

/* Header */
header{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #dfdfdf;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 2;
    left: 0;
}

.nav{
    width: 100%;
    height: 100%;
    padding: 0 20px;
    margin: 3px auto 0 auto;
    display: flex;
    place-content: center;
    align-items: center;
    justify-content: space-between;
}

.nav__right__item, .nav__right__item__anchor{
    display: grid;
    place-content: center;
    place-items: center;
}


.nav__right__item__anchor img{
    position: relative;
    top: 1px;
}

.nav__right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__left{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
    gap: 22px;
}

.nav__left__item__messenger{
    position: relative;
}

.nav__left__item__messenger__number{
    position: absolute;
    top: -15px;
    left: 15px;
    background-color: #ed4956;
    width: 18px;
    min-height: 18px;
    color: white;
    display: grid;
    place-content: center;
    border-radius: 50%;
}

.nav__left__item__messenger__number--messages{
    font-size: 1.1rem;
}


.user-avatar-picture-profile{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.nav__left__item:last-child{
    position: relative;
}

#btnUserMenu{
    position: absolute;
    top: -16.5px;
    right: -14.5px;
    display: grid;
    place-content: center;
    width: 29px;
    height: 29px;
    border-radius: 50%;
}

.img__histories__outline{
    background-color: rgba(38,38,38,1);
}

.img__histories__no-outline{
    background-color: transparent;
}

.img__user-avatar-picture{
    display: grid;
    place-content: center;
    width: 27px;
    height: 27px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid white;
}

.histories__container{
    padding-top: 10px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
    background-color: white;
}

.no-display,
.post__content__pictures .no-display,
.nav__left__item a svg.no-display,
body .no-display{
    display: none;
}

.histories{
    width: 97.2%;
    margin: 0 0px 9.5px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}

.historie{
    display: grid;
    min-width: 90px;
    height: 95px;
    place-items: center;
    margin: 0 -6px;
}

.historie__outline{
    border-radius: 50%;
    background: linear-gradient(to bottom left, #d02c85 0%, #faa358 100%);
    cursor: pointer;
}


.historie__user-profile-picture{
    width: 60.6px;
    height: 60.6px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin: 2px;
    border: 2.3px solid white;
}

.historie__user-profile-name{
    font-size: 1.2rem;
    max-width: 74px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
}

.histories__arrow{
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.histories__arrowIcon{
    border-radius: 60%;
    width: 26px;
    height: 30px;
    display: inline-block;
    background-image: url('https://www.instagram.com/static/bundles/es6/sprite_glyphs_42be7ea14768.png/42be7ea14768.png');
    background-position: -255px -113px;
    background-repeat: no-repeat;
}

.histories__arrowIcon__previus{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

#btnNextHistories{
    position: absolute;
    top: 37px;
    right: 4.7px;
}

#btnPreviusHistories{
    position: absolute;
    top: 37px;
    left: 4.7px;
}

/* Main */
main{
    margin-top: 59.5px;
    height: auto;
}

body{
    background-color: #f7f7f7;
}

.post{
    margin-top: 23px;
    padding-bottom: 2px;
    background-color: white;
}

.post__header{
    display: grid;
    grid-template-columns: 1fr 48px;
    align-items: center;
    width: 100%;
    height: 70px;
}

.post__header__more-options{
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 0 8px;
}

.post__header__postInformation{
    display: grid;
    grid-template-columns: 65px 1fr;
}

.post__header__postInformation__img{
    display: inherit;
    place-content: center;
}

.post__header__postInformation__user{
    position: relative;
    left: -3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.post__header__postInformation__user__name{
    font-size: 1.4rem;
    font-weight: 600;
}

.post__header__postInformation__user__ubication{
    font-size: 1.2rem;
    color: rgb(142, 142, 142);
    margin-top: 4px;
}


.post__header__postInformation__user-profile-picture{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    border: 2px solid white;
    margin: 0 auto;
}

.post__header__postInformation__historie__outline{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background: linear-gradient(to bottom left, #d02c85 0%, #faa358 100%);
    cursor: pointer;
    margin: 0 auto;
}

.post__header__postInformation__historie__no-outline{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    margin: 0 auto;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.postPicture,
.postVideo{
    width: 100%;
}

.post__content__pictures{
    width: 100%;
    height: auto;
    position: relative;
}

.post__footer{
    position: relative;
    top: -1px;
    padding: 0 16px;
}

.post__footer__iconsIteration{
    width: 100%;
    height: 54px;
    display: grid;
    align-items: center;
    grid-template-columns: 120px 1fr;
}

.post__footer__iconsIteration__left{
    height: 40px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 40px);
}

.post__footer__iconsIteration__left--heart-content{
    display: inline-grid;
}

.post__footer__iconsIteration__right{
    display: grid;
    justify-items: right;
}

.post__footer__iconsIteration__left svg,
.post__footer__iconsIteration__right svg{
    cursor: pointer;
}

.post__footer__likes, 
.post__footer__likes__following, 
.post__footer__likes__content{
    display: flex;
    justify-content: start;
    align-items: center;
}

.post__footer__likes__following__profile{
    background-color: white;
    display: grid;
    place-content: center;
    border-radius: 50%;
}

.post__footer__likes__following__profile__picture{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 1px;
}

.post__footer__likes__following__profile--moveLeft{
    position: relative;
    left: -5px;
}

.post__footer__likes__following__profile--moveLeft2{
    position: relative;
    left: -10px; 
}


.post__footer__likes__people, 
.post__footer__likes__people__total,
.post__footer__likes__people__following,
.post__footer__description__user,
.post__footer__comments__user,
.post__footer__viewed__people{
    font-size: 1.4rem;
    font-weight: lighter;
}

.post__footer__likes__people__following,
.post__footer__likes__people__total{
    color: black;
    font-weight: 600;
}

.post__footer__likes__people__total{
    cursor: pointer;
}

.post__footer__likes__people__following:hover{
    text-decoration: underline;
}

.post__footer__likes__people{
    padding-right: 5px;
}

.post__footer__description__anchor,
.post__footer__comments__anchor{
    margin-right: 3px;
}

.post__footer__description{
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 8px;
}

.post__footer__viewed{
    margin-top: 5px;
}

.post__footer__comments,
.post__footer__comments__user{
    margin-top: 2px;
}

.post__footer__comments__user{
    padding-right: 15px;
}

.post__footer__viewed__people{
    color: rgb(142, 142, 142);
    opacity: 0.9;
    cursor: pointer;
}

.post__footer__comments__content{
    display: grid;
    grid-template-columns: 1fr 12px;
}

.post__footer__comments__user__heart{
    display: grid;
    place-content: center;
    cursor: pointer;
}

.post__footer__comments__user__heart svg:hover{
    fill: #455664;
}

.post__footer__time__published{
    color: rgb(142, 142, 142);
    font-size: 1rem;
    text-transform: uppercase;
}

.post__footer__time{
    margin: 15px 0;
}

.post__footer__description__user__tagfriend{
    color: rgb(0, 55, 107);
    cursor: pointer;
}

.post__content__pictures__button,
.btnSeeTagsOnPost,
.btnVideoAudio{
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
    display: grid;
    place-items: center;
    position: absolute;
}

.btnSeeTagsOnPost,
.btnVideoAudio{
    width: 28px;
    height: 28px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    bottom: 3.5%;
}

.btnSeeTagsOnPost{
    left: 2.9%;
}

.mousedown,
.btnSeeTagsOnPost .mousedown{
    fill: #B2B3B3;
    color: #B2B3B3;
    stroke: #B2B3B3;
}

.opacity{
    opacity: 0.6;
}

.btnVideoAudio{
    z-index: 1;
    right: 2.9%;
}

.post__content__pictures__button{
    margin: 16px 8px;
}

.post__content__pictures__button span{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('https://www.instagram.com/static/bundles/es6/sprite_core_32f0a4f27407.png/32f0a4f27407.png');
    background-repeat: no-repeat;
}

.nextPost__icon{
    background-position: -162px -98px;
}

.previusPost__icon{
    background-position: -130px -98px;
}

.btnNextPost{
    top: calc(50% - 30px);
    right: 0;
}

.btnPreviusPost{
    top: calc(50% - 30px);
    left: 0;
    z-index: 1;
}

.post__content__pictures__nav{
    position: relative;
    height: auto;
}

.currentPicture{
    display: inline-block;
}

/* Slide Pictures */
.post__content__pictures__slide-dots{
    width: 100%;
    height: 6px;
    margin: 15px 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -32px;
}

.dot{
    min-width: 6px;
    min-height: 6px;
    border-radius: 50%;
    background-color: rgba(168,168,168,1);
    margin-right: 4px;
}

.dot:last-child{
    margin-right: 0;
}

.currentSlide{
    background-color: rgba(0,149,246,1);
}


/* Tags */
.tagOnPosts{
    z-index: 2;
    display: grid;
    place-items: center;
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 62.2741%;
    top: 81.5302%;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 4.5px;
}

.tagOnPosts__user{
    display: inline-block;
    width: fit-content;
    height: auto;
    color: white;
    font-size: 1.35rem;
    font-weight: bold;
}

.tagOnPosts__user__box__name{
    margin: 0 12px;
}

.tagOnPosts__user__box{
    display: inline-block;
    line-height: 36px;
    position: relative;
}

.tooltip:after{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    left: 50%;
    top: 69%;
    background-color: rgba(0, 0, 0, 0.85);
    transform: translateX(-50%) translateY(50%) rotate(45deg);
}

/* Videos */

.post__content__pictures__nav__photo{
    position: relative;
    width: 100%;
}

.post__withTags{
    cursor: pointer;
}

.postVideo__controls{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.btnPauseVideo{
    background-color: transparent;
    /*
    width: 100%;
    height: 100%;
    */
    border: none;
    outline: none;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.pauseVideo__icon{
    display: inline-block;
    width: 135px;
    height: 135px;
    background-image: url('../assets/icon/video-controls.png');
}

.nav .no-display,
.nav__center__search span.no-display,
.suggestions, footer{
    display: none;
}

/* Create New Post */
.create-post{
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
    place-items: center;
    width: 100%;
    height: 100vh;
}

.create-post__background{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
}

.create-post__content{
    z-index: 3;
    background-color: white;
    width: 348px;
    height: 391px;
    border-radius: 14px;
}

#btnCloseCreatePost{
    z-index: 3;
    position: absolute;
    top: 18px;
    right: 18px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

#btnSelectFile,
#btnCloseCreatePost{
    outline: none;
    border: none;
    cursor: pointer;
}

#btnSelectFile{
    width: fit-content;
    padding: 5px 9px;
    margin: 1px;
    background-color: rgb(0, 149, 246);
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 4px;
    height: 30px;
}


.create-post__content__title{
    font-size: 1.5rem;
    color: rgb(38, 38, 38);
    text-align: center;
    font-weight: 600;
    height: 42px;
    display: grid;
    place-items: center;
    border-bottom: 1px solid #dfdfdf;
    padding-top: 5px;
}

.create-post__content__dragphoto{
    height: 348px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-post__content__dragphoto__title{
    font-size: 2.1rem;
    font-weight: 300;
    color: rgba(38, 38, 38, 0.534);
    margin-top: 20px;
    margin-bottom: 15px;
    position: relative;
    top: -6px;
}

.no-show-scroll{
    overflow-y: hidden;
}

@media (min-width: 640px) {
    .nav .no-display{
        display: grid;
    }

    /* Search Form */
    .nav__center{
        width: 36%;
        max-width: 268px;
        height: 36px;
        place-content: center;
        place-items: center;
        background-color: #efefef;
        border-radius: 8px;
        position: relative;
        top: -2.5px;
        right: calc(0 + 254px);
    }

    .nav__center__search{
        position: absolute;
        min-width: 147.8px;
        height: 25px;
        padding: 3px 16px;
        display: inherit;
        justify-content: center;
        align-items: center;
        place-content: center;
        left: 6.5%;
    }

    #txtSearch{
        border: none;
        font-size: 1.6rem;
        color: rgb(38, 38, 38);
        outline: none;
        background-color: transparent;
        width: 120px;
        height: 100%;
        position: relative;
        left: 10%;
        top: 1.5px;
    }

    #txtSearch::placeholder{
        color: rgba(142, 142, 142, 0.671);
    }

    .searchIcon{
        position: absolute;
        left: 1.5px;
        color: rgba(142, 142, 142);
    }

    .eraseSearchIcon{
        display: inline-block;
        background-image: url('https://www.instagram.com/static/bundles/es6/sprite_core_32f0a4f27407.png/32f0a4f27407.png');
        background-position: -318px -333px;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        position: absolute;
        right: -2.9px;
        top: 2.8px;
    }

    /* Changing the main children elements */
    main{
        width: fit-content;
        padding-top: 25px;
        margin: 59.5px auto 0 auto;
    }

    .histories__container{
        border: 1px solid #dfdfdf;
        padding-top: 15px;
        max-width: 600px;
        margin: 0 auto;
    }

    .post{
        max-width: 600px;
        border: 1px solid #dfdfdf;
        margin: 23px auto 0 auto;
    }

}

@media (min-width: 1000px) {

    body{
        display: grid;
        grid-template-columns: 1fr 293px;
    }

    main{
        display: grid;
        margin-left: auto;
        width: 614px;
    }

    .histories__container,
    .posts__container{
        max-width: 614px;
    }

    .post{
        margin-left: 0;
        margin-right: 0;
        max-width: 614px;
    }

    /* Aside */
    .suggestions{
        position: relative;
        margin-top: 59.5px;
        padding-top: 25px;
        display: grid;
        grid-template-rows: 56px auto;
        height: auto;
        display: grid;
        grid-column-start: 2;
    }

    .suggestions__container{
        position: fixed;
        left: calc(50% + 185px);
    }

    .account{
        margin-top: 27.2px;
        height: 56px;
        width: 293px;
        display: grid;
        grid-template-columns: 56px 1fr 35.46px;
        place-content: center;
        align-items: center;
    }

    .account__picture{
        width: 56px;
        height: 56px;
        border-radius: 50%;
    }

    .account__user,
    .suggestion__account__user{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .account__user{
        margin-left: 16.5px;
    }

    .suggestion__account__user{
        margin-left: 15.1px;
    }

    .account__user__name,
    .suggestion__account__user__name{
        font-weight: bold;
    }

    .account__user__name,
    .account__user__fullname,
    .suggestion__header__forYou,
    .suggestion__header_seeAll,
    .suggestion__account__user__name{
        font-size: 1.4rem;
    }

    .account__user__fullname{
        color: rgb(142, 142, 142);
    }

    .account__switch,
    .suggestion__header_seeSuggestions,
    .suggestion__account__follow{
        height: fit-content;
        display: grid;
        place-content: center;
        place-items: center;
        font-size: 1.2rem;
        cursor: pointer;
        outline: none;
        border: none;
        background-color: transparent;
        font-weight: bold;
    }

    .account__switch,
    .suggestion__account__follow{
        color: rgb(0, 149, 246);
    }

    .suggestion__header_seeSuggestions{
        white-space: nowrap;
    }

    /* 'Suggestions For You' element */
    .suggestion{
        margin-top: 25px;
        width: 293px;
        height: auto;
        height: fit-content;
    }

    .suggestion__account__picture{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-left: 3px;
    }

    .suggestion__header{
        margin-bottom: 16px;
        display: grid;
        grid-template-columns: 1fr 36.913px;
    }

    .suggestion__header__forYou{
        color: rgb(142, 142, 142);
        font-weight: bold;
    }

    /* Suggestions */
    .suggestion__account{
        margin-bottom: 15px;
        display: grid;
        grid-template-columns: 32px 1fr 36.913px;
        align-items: center;
    }

    .suggestion__account__user__fullname{
        font-size: 1.2rem;
        color: rgb(142, 142, 142);
        margin-top: 2.2px;
    }

    /* Footer */
    footer{
        position: fixed;
        display: grid;
        right: 0;
        top: 482.1px;
        width: fit-content;
        height: auto;
        left: calc(50% + 185px);
    }

    .footer__nav{
        width: 317.6px;
    }

    .footer__nav__ul{
        display: flex;
        flex-wrap: wrap;
        gap: 7.2px 0;
        margin-bottom: 23.5px;
    }

    .footer__nav__ul__listitem{
        margin-right: 3px;
    }

    .footer__nav__ul__listitem:last-child{
        margin-right: 0px;
    }

    .footer__nav__ul__listitem,
    .footer__nav__copyright{
        font-weight: 400;
        font-size: 1.2rem;
    }

    .footer__nav__ul__listitem a,
    .footer__nav__copyright{
        color: rgb(199, 199, 199);
    }

    .footer__nav__copyright{
        text-transform: uppercase;
    }

    .footer__nav__ul__listitem a::after{
        content: '\00B7';
        margin-left: 3px;
    }
    
    .footer__nav__ul__listitem:last-child a::after{
        content: '';
        margin-left: 0px;
    }
    
    header{
        padding: 0 6.9%;
    }
}

@media (min-width: 1400px) {
    
    body{
        margin: 0 19%;
    }
    

    main{
        margin-right: 28px;
    }
    

    footer{
        width: fit-content;
        right: 17.6%;
    }

    header{
        padding: 0 17.9%;
    }
    
    .nav__right__item:first-child{
        width: 255px;
        justify-content: start;
    }
    
}