*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-size: 1.6rem;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    pointer-events: none; /* Avoid dragging an img */
}

/* Header */
header{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #dfdfdf;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 2;
}

.nav{
    width: 90%;
    height: 100%;
    margin: 4px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__right__item, .nav__right__item__anchor{
    display: grid;
    place-content: center;
    place-items: center;
}

.nav__right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__left{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
    gap: 22px;
}

.nav__left__item__messenger{
    position: relative;
}

.nav__left__item__messenger__number{
    position: absolute;
    top: -15px;
    left: 15px;
    background-color: #ed4956;
    width: 18px;
    min-height: 18px;
    color: white;
    display: grid;
    place-content: center;
    border-radius: 50%;
}

.nav__left__item__messenger__number--messages{
    font-size: 1.1rem;
}


.user-avatar-picture-profile{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.histories__container{
    padding-top: 10px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
    background-color: white;
}

.no-display{
    display: none;
}

.histories{
    width: 97.2%;
    margin: 0 0px 9.5px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}

.historie{
    display: grid;
    min-width: 90px;
    height: 95px;
    place-items: center;
    margin: 0 -6px;
}

.historie__outline{
    border-radius: 50%;
    background: linear-gradient(to bottom left, #d02c85 0%, #faa358 100%);
    cursor: pointer;
}


.historie__user-profile-picture{
    width: 60.6px;
    height: 60.6px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin: 2px;
    border: 2.3px solid white;
}

.historie__user-profile-name{
    font-size: 1.2rem;
    max-width: 74px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
}

.histories__arrow{
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.histories__arrowIcon{
    border-radius: 60%;
    width: 26px;
    height: 30px;
    display: inline-block;
    background-image: url('https://www.instagram.com/static/bundles/es6/sprite_glyphs_42be7ea14768.png/42be7ea14768.png');
    background-position: -255px -113px;
    background-repeat: no-repeat;
}

.histories__arrowIcon__previus{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

#btnNextHistories{
    position: absolute;
    top: 37px;
    right: 4.7px;
}

#btnPreviusHistories{
    position: absolute;
    top: 37px;
    left: 4.7px;
}

/* Main */
main{
    margin-top: 59.5px;
    height: 1200px;
    background-color: #f7f7f7;
}

/* Posts */
.posts__container{
    margin-top: 23px;
}

.post__header{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 48px;
    align-items: center;
    width: 100%;
    height: 70px;
}

.post__header__more-options{
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 0 8px;
}

.post__header__postInformation{
    display: grid;
    grid-template-columns: 65px 1fr;
}

.post__header__postInformation__img{
    display: inherit;
    place-content: center;
}

.post__header__postInformation__user{
    position: relative;
    left: -3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.post__header__postInformation__user__name{
    font-size: 1.4rem;
    font-weight: 600;
}

.post__header__postInformation__user__ubication{
    font-size: 1.2rem;
    color: rgb(142, 142, 142);
    margin-top: 4px;
}


.post__header__postInformation__user-profile-picture{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    border: 2px solid white;
    margin: 0 auto;
}

.post__header__postInformation__historie__outline{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background: linear-gradient(to bottom left, #d02c85 0%, #faa358 100%);
    cursor: pointer;
    margin: 0 auto;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.postPicture{
    width: 100%;
}

.post__content__pictures{
    width: 100%;
    height: auto;
}

.post__footer{
    padding: 0 16px;
}

.post__footer__iconsIteration{
    width: 100%;
    height: 54px;
    display: grid;
    align-items: center;
    grid-template-columns: 120px 1fr;
}

.post__footer__iconsIteration__left{
    height: 40px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 40px);
}

.post__footer__iconsIteration__left--heart-content{
    display: inline-grid;
}

.post__footer__iconsIteration__right{
    display: grid;
    justify-items: right;
}

.post__footer__iconsIteration__left svg,
.post__footer__iconsIteration__right svg{
    cursor: pointer;
}